<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>JQuery Demo</title>

    <!-- include  js lib and css lib  from cdn -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    {% load static %}

    <!-- include custom file from cdn -->
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />


</head><body class="sb-nav-fixed DataPage"  >
<nav class="sb-topnav navbar navbar-expand-lg navbar-dark bg-info ">
    <a class="navbar-brand" href="#"><h5 class="mt-2">Logo</h5></a>
    <button class="btn  btn-sm order-1 order-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"style="color:#ffffff"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" /> -->
            <!-- <div class="input-group-append"> -->
            <!-- <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
        </div> -->
        </div>
    </form>
    <!-- Navbar-->
    <div class="btn-group ml-auto ml-md-0 ">
        <button role="button" class="nav-itemdropdown  dropdown-toggle btn btn-sm order-1 order-lg-0 " data-bs-toggle="dropdown"  aria-expanded="false" id="sidebarToggle" >
            <i class="fas fa-user fa-fw"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#" role="button">設定</a></li>
            <div class="dropdown-divider"></div>
            <form  action="#" method="POST">
                <li><button class="dropdown-item"  role="button" type="submit">登出</button></li>
            </form>
        </ul>
    </div>


</nav><div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <a class="nav-link " href="#">
                <div class="sb-nav-link-icon"><i class=" bi bi-calendar4"></i></div>
                RFID 掃描記錄
            </a>

        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div> <p id='user'>系統管理者</p>    </div>
</nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">RFID</h1>
                    <div class="card mb-4">
        <div class="card-header">
            <i class="bi bi-house-fill mr-1"></i>
            RDID
        </div>
        <div class="card-body">
            <table class="table table-bordered circulation" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>EPC 號碼</th>
                    <th>TID 號碼</th>
                    <th>館藏狀態</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
        </div>
            </div>
        </main>
        <div id="layoutAuthentication_footer">
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-end small">
            </div>
        </div>
    </footer>
</div>
</div>






</div>

</body>
<script src="{% static 'js/rfid.js'%}"></script>
<script> initPage($(".DataPage")) </script>
</html>