<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form upload</title>
</head>
<body>
<h1>form Method upload and submit</h1>
<!--   Include necessary parameters for uploading files enctyoe -->
     <form action="f_upload.html" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <!-- Upload files to name parameter -->
         <input type="file" name="uploadfile">
         <input type="submit">
     </form>
</body>
</html>