<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax upload</title>
</head>
<body>

<h1>Native js+Native ajax Method upload and submit</h1>
<!--   Include necessary parameters for uploading files enctyoe -->
{% csrf_token %}
         <input id="Upfile" type="file"  multiple="multiple" >
         <button onclick="Js_Ajax();">Submission</button>

<script>
    function Js_Ajax() {
        var xhr = new XMLHttpRequest();                                                         //Create an empty object to transport the back end
        xhr.onreadystatechange = function () {                                                  //Specify callback function
            if (xhr.readyState == 4) {                                                           //Callback function state judgment
                console.log("Return information:", xhr.responseText);
                alert("The file has been uploaded successfully. Click OK to refresh the page");
                location.reload();
            }
        };
        xhr.open('POST', 'ja_upload.html');                                                       //Set up POST mode request
        xhr.setRequestHeader('Conten-Type', 'application/x-www-foorm-urlencoded;charset-UTF-8');  //POST data request header

        var f_obj = document.getElementById("Upfile").files[0];                                   //Get uploaded file object
        console.log("File object:", f_obj);
        console.log("The file name is:", f_obj.name);
        console.log("The file size is:", f_obj.size);

        var data = new FormData();                                                                //Create formdata objects to facilitate file transfer to the back end
        data.append("file", f_obj);                                                                //To add (encapsulate) a file object to a formdata object

        xhr.send(data);                                                                            //Data sent by established POST request
    };
</script>
</body>
</html>